.sort{
    padding-top: 51px;
    padding-bottom: 65px;
    display: flex;
    position: relative;
&__text{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
&__filter{
    position: absolute;
    padding-left: 16px;
}
&__filter_active:hover{
    width: 360px;
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0,0,0,0.21);
    position: absolute;
    z-index: 1;
}
&__param{
    display: flex;
    margin-left: calc(33.3333% + 15px);
}
&__img{
    padding-right: 28px;
}
&__ul{
    list-style-type: none;
}
&__items{
    display: none;
}
&__filter_active:hover .sort__items{
    display: block;
}
&__open{
    position: relative;
}
&__size{
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 8px 24px 8px 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24px;
    left: 8px;
    z-index: 1;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}

}
.catalog{
 &__card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   
&__page{
    margin-bottom: 109px;
    margin-top: 60px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #EBEBEB;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 202px;
}
&__ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 11px 41px;
}   
&__li:not(:last-child){
    padding-right: 5px;
}
&__center{
    display: flex;
    justify-content: center;
}
}
